body {
    font-family: 'Nunito';
}

header {
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.typewriter {
    border-right: 2px solid black; /* the cursor */
    white-space: pre-wrap;
    animation: blink 0.75s step-end infinite;
}

.speech-bubble {
    width: fit-content;
    min-width: 20px;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px; /* Spacing inside the bubble */
    max-width: 500px; /* Limit the width */
    margin: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.bubble-wrapper{
    position: sticky;
    top: 50px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.collapsed {
    display: none;
}

.bubble-wrapper.collapsed {
    display: flex;
    min-height: 50px;
}

.speech-bubble::after {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px; 
    transform: rotate(180deg);
    border-color: #f0f0f0 transparent transparent transparent; /* Match bubble background for inner arrow */
    top: -10px; /* vertical position of the arrow */
    left: 20px; /* horizontal position of the arrow */
}

#photo-gallery {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    gap: 10px;
}

#photo-gallery button {
    background: none;
    border: none;
    padding: none;
    cursor: pointer;
}

#photo-gallery img {
    width: 300px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#muteBtn {
    display: none;
}

@keyframes blink {
    0%, 100% {border-color: transparent;}
    50% {border-color: black;}
}

/* MOBILE */
@media (min-width: 480px){
    .speech-bubble {
        max-width: 400px;
    }
}

/* TABLET */
@media (min-width: 768px){
    .speech-bubble {
        max-width: 700px;
    }  
    #photo-gallery {
        grid-template-columns: auto auto;
    }
}

/* LAPTOP */
@media (min-width: 992px) {
    .speech-bubble {
        max-width: 800px;
    }

    .bubble-wrapper {
        min-height: 150px;
    }

    #muteBtn {
        display: initial;
    }
    #photo-gallery {
        grid-template-columns: auto auto auto;
    }
}

/* ACCESSIBILITY: Disable effect if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  .typewriter {
    animation: none; /* No blinking cursor */
    border-right: none; /* Hide cursor */
  }
}

/* SKIP TO MAIN CONTENT BUTTON */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}