.typewriter {
    border-right: 2px solid black; /* the cursor */
    white-space: pre-wrap;
    font-family: monospace;
    animation: blink 0.75s step-end infinite;
}

.speech-bubble {
    width: fit-content;
    min-height: 24px;
    min-width: 20px;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px; /* Spacing inside the bubble */
    max-width: 500px; /* Limit the width */
    margin: 20px; /* Spacing around the bubble */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.speech-bubble::after {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px; 
    transform: rotate(180deg);
    border-color: #f0f0f0 transparent transparent transparent; /* Match bubble background for inner arrow */
    top: -10px; /* vertical position of the arrow */
    left: 20px; /* horizontal position of the arrow */
}

#muteBtn {
    display: none;
}

/* #typewriter-container:focus {
    outline: 3px solid blue;
    outline-offset: 4px;
} */

@keyframes blink {
    0%, 100% {border-color: transparent;}
    50% {border-color: black;}
}
@media (min-width: 480px){
    .speech-bubble {
        max-width: 400px;
    }
}

@media (min-width: 768px){
    .speech-bubble {
        max-width: 700px;
    }  
}

@media (min-width: 992px) {
    .speech-bubble {
        max-width: 800px;
    }
    #muteBtn {
        display: initial;
    }
}

/* ACCESSIBILITY: Disable effect if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  .typewriter {
    animation: none; /* No blinking cursor */
    border-right: none; /* Hide cursor */
  }

  /* Text filling is done in JS, 
  but this ensures no CSS motion triggers. */
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}